#mac
.DS_Store

#Eclipse
.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
.recommenders

# Eclipse Core
.project

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

# PyDev specific (Python IDE for Eclipse)
*.pydevproject

# CDT-specific (C/C++ Development Tooling)
.cproject

# JDT-specific (Eclipse Java Development Tools)
.classpath

# Java annotation processor (APT)
.factorypath

# PDT-specific (PHP Development Tools)
.buildpath

# sbteclipse plugin
.target

# Tern plugin
.tern-project

# TeXlipse plugin
.texlipse

# STS (Spring Tool Suite)
.springBeans

# Code Recommenders
.recommenders/

#CodeIgniter admin
application/config/development
application/config/production
application/logs/*
!application/logs/index.html
application/cache/*
!application/cache/index.html
!application/cache/.htaccess
application/controllers/api/Example.php
application/controllers/api/Key.php
application/controllers/api/Middle_layer.php
application/controllers/api/Tests.php
application/controllers/db/
application/controllers/Tests.php
application/views/tests*
assets/uploads/captcha/*
assets/uploads/qrcode/*